@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);

:root{
    --dasharray:0;
}
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #4C4C4C;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.watch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #242424;
    border: 8px solid #3A3A3A;
}

.circle-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

circle {
    stroke: #F85B5B;
    stroke-width: 3;
    fill: none;
    transform-origin: center center;
    transform: rotate(-90deg);
    stroke-dasharray: var(--dasharray); 
    stroke-dashoffset: var(--dasharray);
    animation: watch-spin 5s linear infinite;
}

@keyframes watch-spin {
    50% {
        stroke-dashoffset: 0;
        transform: rotate(-90deg) scaleY(1);
    }

    50.001% {
        transform: rotate(-90deg) scaleY(-1);
    }

    to {
        stroke-dashoffset: var(--dasharray);
        transform: rotate(-90deg) scaleY(-1);
    }
}

.watch-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    height: 88%;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='3' stroke-dasharray='2%2c6' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .watch-info { */
#date {
    position: absolute;
    top: 48px;
    font-size: 0.8rem;
    font-weight: 300;
}

#time {
    font-size: 2.6rem;
    font-weight: bold;
}

.bottom-line {
    position: absolute;
    bottom: 44px;
}

.bottom-txt {
    position: relative;
    bottom: 1px;
    font-size: 0.8rem;
}

.energy {
    padding-left: 6px;
}

img {
    width: 12px;
    animation: beat 1s ease-in-out infinite both;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

}