@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #264057;
}

.center {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: 7px 8px 14px 6px rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: transform 0.5s ease-out;
}

.fr-active {
    transform: translate(150px, 0);
}

.nav {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #5F98CD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle-btn {
    position: absolute;
    left: 20px;
    width: 28px;
    height: 22px;
}

.menu-toggle-btn:hover {
    cursor: pointer;
}

.menu-toggle-btn:hover>.bar-1,
.menu-toggle-btn:hover>.bar-2,
.menu-toggle-btn:hover>.dot {
    background-color: #fff;
}

.menu-toggle-btn .bar-1,
.menu-toggle-btn .bar-2 {
    position: relative;
    height: 3px;
    background-color: #B2DAFF;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.menu-toggle-btn .bar-1 {
    width: 19px;
    top: 2px;
}

.dot {
    position: relative;
    left: 21px;
    top: -3px;
    width: 7px;
    height: 7px;
    background-color: #B2DAFF;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}

.menu-toggle-btn .bar-2 {
    top: 6px;
}

.nav h2 {
    font-size: 0.9rem;
    color: #fff;
}

.search-bar-toggle-btn {
    position: absolute;
    right: 20px;
    width: 22px;
    height: 22px;
}

#search-bar{
    position: absolute;
    left: 68px;
    height: 30px;
    width: 210px;
    border-radius: 20px;
    border-color: transparent;
    padding-left: 12px;
    opacity: 0;
    transition: transform 0.6s ease , opacity 0.3s;
}

#search-bar:focus{ 
    outline: none;
}

.search-bar-logo {
    position: relative;
    top: -8px;
    left: -6px;
    width: 30px;
    height: 30px;
    margin: 4.5px;
    transition: border-color 0.2s ease-in-out;
}

.sh-active{
    transform: translate3d(-50px,0,0) ;
    opacity: 1 !important;
}

.search-bar-logo:hover {
    cursor: pointer;
}
.search-bar-logo:hover > .hover-white {
    stroke: white !important;
}

.content {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 80%;
}

.timeline-bar {
    position: relative;
    background-color: rgb(228, 227, 227);
    left: 30px;
    width: 3px;
    height: 100%;
}

.notification-timeline {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.notification {
    position: relative;
    top: 10px;
    left: -3px;
    width: 80%;
    height: 20%;
    opacity: 0;
}

.notification:hover {
    cursor: pointer;
}

.notification:hover>.time,
.notification:hover>.text {
    color: #5F98CD;
}

.notification-dot {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px #fff;
    border: 2px solid #5F98CD;
    background-color: white;
}

.time {
    position: relative;
    left: 20px;
    font-size: 0.7rem;
    color: grey;
    top: -28px;
}

.text {
    position: relative;
    top: -44px;
    left: 20px;
    font-size: 0.92rem;
    color: #798087;
    padding: 2px 10px 2px 0px;
}

.at-0 {
    animation: slide-in 0.7s 1 forwards;
}

.at-1 {
    animation: slide-in 0.7s 1 0.5s forwards;
}

.at-2 {
    animation: slide-in 0.7s 1 1s forwards;
}

@keyframes slide-in {
    0% {
        transform: translate(0px, 50px);
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.menu-list {
    position: absolute;
    top: 65px;
    left: 65px;
    width: 150px;
    height: 270px;
    background-color: #43627D;
    z-index: 1;
    transition: transform 0.5s ease-out;
}

.ml-active {
    transform: translate3d(-15px, 0, 0);
}

.element-container {
    position: relative;
    top: 10px;
    height: 250px;
}

.element {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    padding-left: 15px;
}

.element:hover {
    background-color: #385269;
    cursor: pointer;
}

.element:hover>.menu-txt {
    color: #fff;
}

.element svg {
    width: 16px;
    height: 16px;
    fill: #93B2CD;
}

.menu-txt {
    font-size: 0.9em;
    padding: 0px 8px;
    font-weight: 100;
    color: #93B2CD;
}