@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(34, 35, 48);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.circle-frame {
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    animation: fade-animation 4s ease-in-out infinite forwards;
}

.sky {
    height: 170px;
    border-radius: 50%;
    background-color: rgb(118, 181, 245);
    animation: sky-animation 4s ease infinite;
}

.pyramide-left {
    position: absolute;
    left: 26px;
    top: 62px;
    border-top: 0px solid;
    border-left: 49px solid transparent;
    border-right: 32px solid transparent;
    border-bottom: 54px solid #fff;
    animation: pyramide-left-animation 4s cubic-bezier(0.45, 0.44, 0.47, 1.15) infinite forwards;
}

.pyramide-right {
    position: absolute;
    left: 43px;
    top: 110px;
    border-top: 0px solid;
    transform: rotateZ(223deg);
    border-left: 92px solid transparent;
    border-right: 61px solid transparent;
    border-bottom: 32px solid #ddd7d7;
    animation: pyramide-right-animation 4s linear infinite;
}

.sun {
    position: absolute;
    top: 68px;
    left: -28px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgb(255 244 88);
    background-color: rgb(255, 238, 0);
    animation: sun-animation 4s cubic-bezier(0.45, 0.44, 0.47, 1.15) infinite running;
}

.shadow {
    position: absolute;
    background-color: #b6a456fd;
    top: 116px;
    left: -6px;
    height: 47px;
    width: 170px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 80%);
    z-index: 1;
    animation: shadow-animation 4s cubic-bezier(0.15, 0.29, 0.83, 0.76)infinite;
}

.land {
    position: absolute;
    top: 116px;
    left: 6px;
    width: 159px;
    height: 60px;
    background-color: #d8c46d;
}

@keyframes fade-animation {
    0%{
        opacity: 0;
    }
    10%,
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sky-animation {
    0% {
        background-color: rgb(104, 170, 236);
    }
    30% {
        background-color: #60daff;
    }
    70% {
        background-color: #60daff;
    }
    100% {
        background-color: rgb(107, 170, 233);
    }
}

@keyframes sun-animation {
    0% {
        background-color: rgb(250, 234, 18);
        transform: rotate(-80deg) translate(0px);
    }
    30% {
        background-color: rgb(255, 230, 0);
        transform: rotate(-50deg) translate(66px);
    }
    35% {
        background-color: rgb(255, 230, 0);
        transform: rotate(-50deg) translate(66px);
    }
    100% {
        transform: rotate(0deg) translate(200px);
    }
}

@keyframes pyramide-left-animation {
    0%,
    30% {
        border-bottom: 54px solid #ffffff;
    }
    70% {
        border-bottom: 54px solid #dddcdc;
    }
    100% {
        border-bottom: 54px solid #bdbdbd;
    }
}

@keyframes pyramide-right-animation {
    0% {
        border-bottom: 32px solid #bdbdbd;
    }
    30% {
        border-bottom: 32px solid #dddcdc;
    }
    70% {
        border-bottom: 32px solid #ffffff;
    }
    100% {
        border-bottom: 32px solid #ffffff;
    }
}

@keyframes shadow-animation {
    0% {
        animation-timing-function: cubic-bezier(0.15, 0.29, 0.83, 0.76);
        clip-path: polygon(20% 0%, 80% 0%, 100% 5%);
    }
    28%,
    32% {
        animation-timing-function: cubic-bezier(0.15, 0.29, 0.83, 0.76);
        clip-path: polygon(20% 0%, 80% 0%, 100% 80%);
    }
    35%{
        animation-timing-function: cubic-bezier(0.15, 0.29, 0.83, 0.76);
        clip-path: polygon(20% 0%, 80% 0%, 90% 60%);
    }
    40% {
        animation-timing-function: cubic-bezier(0.15, 0.29, 0.83, 0.76);
        clip-path: polygon(20% 0%, 80% 0%, 80% 30%);
    }
    50%,
    50.8% {
        animation-timing-function: cubic-bezier(0.15, 0.29, 0.83, 0.76);
        clip-path: polygon(20% 0%, 80% 0%, 40% 40%);
    }
    60% {
        animation-timing-function: cubic-bezier(0.15, 0.29, 0.83, 0.76);
        clip-path: polygon(20% 0%, 80% 0%, 0% 80%);
    }
    90%,
    100% {
        clip-path: polygon(20% 0%, 80% 0%, 0% 0%);
    }
}